<div class="container">
  <div id="accordion" class="accordion">
    <div class="card mb-0">
      <%= render "processing_result_files/processing_result_file", file_item: file_item %>
    </div>
  </div>
</div>