<ul class="navbar-nav ml-auto">
  <%= render "layouts/search" %>
  <%= render "layouts/alerts" %>
  <%#= render "layouts/messages" %>
  <div class="topbar-divider d-none d-sm-block"></div>
  <%= render "layouts/user_dropdown" %>
</ul>